@import '../../../components/colors.scss';

body {
    background-color: white;
}

.Panel {
    display: flex;
    position: absolute;
    margin-top: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $base-dark;
    border-radius: 0.3rem;
    width: 800px;
    height: 500px;
    z-index: 2;
    
    h1 {
        align-items: center;
        
    }
}

.Submit:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(249, 211, 250);
}

.Submit {
    margin-top: 10%;
    background-color: $button;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.2rem;
    border: 1px solid rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30%;
    padding-right: 30%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.Inputs {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 11px $button;
    
    input {
        height: 40px;
        background-color: $back;
        border: none;
        border-bottom: 1px solid black;
        color: white;
        padding-top: 2%;
        
    }

}

.Message {
    margin-top: 2%;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: rgba(124, 226, 129, 0.5);
    color: white;
    font-size: 19px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}


.Title {
    h1 { color: $button; }
}

.Head a:hover{
    cursor: pointer;
}
.Head {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    u {   }
}

.Image {
    width: 100%;

    img {
        width: 300px;
        height: 100%;
        object-fit: cover;
    }
}

.SignIn {
    
}