// @import '../../components/common/colors.scss';

.Slider {
    margin-top: 1%;
}

.Item:hover {
    transition: 0.5s;
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.24), 0 27px 60px 0 rgba(0,0,0,0.2);
}

.Item {
    margin-left: 10%;
    transition: 0.5s;
    margin-right: 18%;
    margin-bottom: 10%;
    background-color: none;

    &__details {
        color: white;
        width: 200px;
        height: 300px;
        
        font-size: 15px;
        
        border-radius: 1rem;
        background-image: url('./images/1.jpeg');
        background-size: cover; 
    }
}
.Item a {
    text-decoration: none;
    color: black;
}
