 @import '../../../../components/colors.scss';

.Slider { 
    margin: 0;
    padding: 0;
}

.WrapperTittle {
    background-color: $base-dark;
    color: $on-dark-text;
    border: 1px solid $base-dark;
}

.Item:hover {
    transition: 0.5s;
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.24), 0 27px 60px 0 rgba(0,0,0,0.2);
}

.Item {
    margin-left: 10%;
    transition: 0.5s;
    margin-right: 10%;
    margin-bottom: 150px;
    background-color: none;

    &__details {
        color: rgb(138, 231, 238);
        font-weight: bold;

        h1 {
            width: 50px;
            padding-top: 2px;
            padding-bottom: 2px;
            position: absolute;
            background-color: rgb(253, 184, 56);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 15px;
            padding-left: 5%;
            font-weight: bold;
            color: black;
        }

        width: 200px;
        height: 200px;

        font-size: 15px;
        
        border-radius: 1rem;
        
        p {
            color: $on-dark-text;
        }

        img {
            width: 100%;
            height: 245px;
            object-fit: cover;
        }
    }
}
.Item a {
    text-decoration: none;
    color: black;
}
