
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

::selection {
    color: white;
    background: rgba(0, 0, 0, 1);
  }

.Header img {
    width: 20px;
    height: 20px;
}

.Header ul li:hover {
    cursor: pointer;
    
}

.Header ul a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Header ul {
    align-items: center;
    width: 100%;
    color: black;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.Header {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,0.0);
    
    &__buttons {
        align-items: center;
        padding: 0 10px;
        display: flex;
        justify-content: end;
        width:30%;
        text-align: center;
    }

    &__buttons a:hover {
        transition: 1s;
        background-color: white;
        border: none;
        color: black;
    }

    &__buttons a {
        margin-right: 2%;
        border: 1px solid rgba(0,0,0, 0.5);
        border-radius: 0.2rem;
        padding-top: 5px;
        width: 120px;
        height: 30px;
        text-align: center;
        color: black;   
        background-color: rgba(255,255,255,0.5);
        text-decoration: none;
        transition: 0.5s;
    }

    &__input {
        width: 400px;
        background-color: rgb(245, 245, 245);
        height: 30px;
        border-radius: 0.5rem;
        border: none

    }
}