
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import '../colors.scss';


::selection {
    color: white;
    background: rgba(0, 0, 0, 1);
  }

.Header ul button:hover {
    cursor: pointer;
}
.Header ul button {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}
.Header img {
    width: 20px;
    height: 20px;
}

.Header ul li:hover {
    cursor: pointer;
    
}

.Header ul a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.Header ul {
    align-items: center;
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.Header {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: $base-dark;
    
    &__buttons {
        align-items: center;
        padding: 0 20px 0px 10px;
        display: flex;
        justify-content: end;
        text-align: center;;
    }

    &__buttons a:hover {
        transition: 0.5s;
        background-color: rgb(233, 218, 241);
    }

    &__buttons a {
        margin-right: 2%;
        border: 1px solid rgba(0,0,0, 0.5);
        border-radius: 0.8rem;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 130px;
        text-align: center;
        color: $base-dark;
        font-weight: bold;
        background-color: white;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        transition: 0.5s;
    }

    &__input {
        width: 400px;
        background-color: rgb(245, 245, 245);
        height: 30px;
        border-radius: 0.5rem;
        border: none
    }
}

